/* Footer */
.div-padre-footer{
    background-color:#080F28;
    border: 1px #EDB709 solid;
    border-radius: 10px;
}

.texto-footer {
    color: #EDB709;
  }
  
.texto-footer p{
    padding-top: 20px;
    font-family: 'carter one';
}

  .texto-footer a {
    padding-top: 10px;
    color: #EDB709;
    text-decoration: underline;
    display: block;
  }

.nombre-logo-footer-1{
    color: white;
    font-family: 'carter one';
    padding-left: 20px;
}
.nombre-logo-footer-2{
    color: #007AFF;
    font-family: 'carter one';
}
.nombre-logo-footer-3{
    color: #FE81A6;
    font-family: 'carter one';
}

.Copyright{
    padding-top: 20px;
    color: #EDB709;
}