* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Roboto', sans-serif, 'carter one';
    background-color: #080F28;
}

.navbar-padre{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: transparent;
    font-family: 'carter One';
}

.categorias-nav{
    padding-left: 30px;
    padding-right: 40px;
}

.boton-hamb{
    color: white;
    background-color: #FE81A6;
}
.color-nav a:hover{
    color: #007AFF;
}

.buscador::placeholder{
    color: white;
}
.buscador{
    background-color: #151B32; 
}

.perfil{
    padding-left: 30px;
    font-family: 'carter One';
}

.dropwdown-Nav{
    background-color: #151B32;
}

.Logo-Homero{
    width: 40px;
    height: 60px;
}

.nav-item{
    color: white;
}

.nav-item a{
    color: white;
}

.boton-buscar{
    background-color: #080F28;
    font-family: 'carter one';
    border: 1px #FE81A6 solid;
    color: #FE81A6;
}

.boton-buscar:hover{
    border: 1px #FE81A6 solid;
    background-color: #FE81A6;
}

.texto-subtitulo{
    font-family: 'carter One';
    color: #8DA0BC;
    font-size: 20px;
}

.titulo-carousel{
    padding-left: 15px;
    padding-top: 40px;
    font-family: 'carter One';
    color: #8DA0BC;
}

.div-padre-pelicula-principal{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), #080F28), url(./img/Fnaf.avif);
    background-position: center center; 
    align-items: center;
    justify-content: start;
    padding: 20px 20px 20px 20px;
    color: white;
}

.div-hijo-pelicula{
    flex-basis: 50%;
}

.div-nieto-pelicula{
    padding: 20px;
}

.carousel-card{
    width: 200px;
    height: 200px;
}

.carousel-padre{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

/* Cards Peliculas */
.card{
    position: relative;
    width: 300px;
    height: 350px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 30px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white; 
    background: #080F28;
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px white;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: white;

}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(  360deg);
}

.texto{
    font-size: 10px;
    padding: 10px;
}

.pelicula{
    background-color: #080F28;
    overflow: hidden;
    margin-top: 30px;
    padding-right: 0;
    padding-left: 0;
}

.row{
    display: flex;
justify-content: space-evenly;
}

.titulo-peliculas{
    padding-left: 15px;
    padding-top: 20px;
    font-family: 'carter One';
    color: #8DA0BC;   
}

.subtitulo-pelicula{
    padding-left: 100px;
    font-family: 'carter One';
    color: #8DA0BC;   
}
/* Fin cards Peliculas */
/* criticas */
.criticas{
    padding-top: 15px;
    background-color: #080F28;
}

.nombre-critico{
    font-family: 'carter One';
    color: #EDB709;
}

.texto-critica{
    color: white;
    text-align: center;
    font-family: 'carter One';
}
/* fin criticas */
/* Footer */
.texto-footer {
    text-decoration: underline;
    color: #EDB709;
  }
  
  .texto-footer a {
    color: #EDB709;
    text-decoration: none;
    display: block;
  }

.nombre-logo-footer-1{
    color: white;
    font-family: 'carter one';
    padding-left: 20px;
}
.nombre-logo-footer-2{
    color: #007AFF;
    font-family: 'carter one';
}
.nombre-logo-footer-3{
    color: #FE81A6;
    font-family: 'carter one';
}

.Copyright{
    padding-top: 20px;
    color: #EDB709;
}

@media (max-width:350px){
    .critica-padre{
        padding-left: 30px;
    }
    .div-nieto-pelicula h5{
        font-size: 10px;
    }
}

@media (max-width:550px){
    .div-nieto-pelicula h5{
        font-size: 12px;
    }
    .div-nieto-pelicula h1{
        font-size: 20px;
        font-family: 'carter one';
    }
}

@media (max-width:700px) and (min-width:551px){
    .critica-padre{
        padding-left: 30px;
    }
    .div-nieto-pelicula h5{
        font-size: 15px;
    }
    .div-nieto-pelicula h1{
        font-size: 20px;
        font-family: 'carter one';
    }
}

@media (max-width:1100px) and (min-width:700px){
    .div-nieto-pelicula h5{
        font-size: 15px;
    }
    .div-nieto-pelicula h1{
        font-size: 20px;
        font-family: 'carter one';
    }
}

@media (max-width:991px){
    .categorias-nav{
        padding: 0;
        margin: 0;
    }
    .perfil{
        padding: 0;
        margin: 0;
    }
    .navbar-padre{
        padding: 0;
        margin: 0;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
    }
    .nav-item{
        padding: 0;
        margin: 0;
    }
    .nav-item a{
        padding: 0;
        margin: 0;
    }
    .buscador{
        background-color: white; 
    }

}

